@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=RocknRoll+One&display=swap');


#content{
    max-width: 1800px ;
    margin: 0 auto;
}
nav a {
    text-align: center ;
    color:#6E2109;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1,#hero-msg h4 {
    text-align: center;

}
.button-box{
    text-align:center;
    
}
main section{
    text-align: center;
    
}
#background {
    height:725px;
}
body {
    background-color: #d78e6a; 
}
header {
    background-color: #d78e6a(20,30,13, .7);
}
nav a:hover {
    background-color: #6e2109;
    color: #bb3d00;
    
}
.book, .join{
    background-color:#bb3d00;
    color:#6E2109;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}
.book:hover, .join:hover{
    background-color: #d78e6a;
    color:#bb3d00;

}
#background{
    background-color: #d78e6a;
}
.msg{
    background-color: #d78e6a;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #d78e6a;
    color:#6E2109;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: #6E2109;
    font-family:'Roboto','RocknRoll';
    font-size: 2em;
    margin-top: 200px;
}
h4{
    color:#6E2109;
    font-family:'Roboto','RocknRoll';
}
.msg h2{
    color:#6E2109;
    font-family:'Roboto','RocknRoll';
}
.msg p{
    color:#6E2109;
    font-family:'Roboto','RocknRoll';
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color:#d78e6a;
    text-decoration: none;
}
footer a:hover{
    color:white
}
.logo{
    width: 85px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}